doctype 5
html(lang='en')
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')

  body
    section.content
      .container-narrow.container.feed
        ul.project-status-box
          for feed in feeds
            li
              h2= feed.p('name')
              .messages
                ol
                  for message in feed.messages
                    li
                      if message.p('resolved')
                        .label.label-success.tag
                          i.icon-ok.icon-white
                      else
                        .label.label-important.tag
                          i.icon-warning-sign
                      = message.p('body')
