extends layout

block content
  div
    h1#main-marking-text Don't piss your client off!
    div.container-narrow
      p#main-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo zsit namet risus  amet.
  button.btn.btn-success.sign-up Sing up

  div.container-narrow.box
    div.row-fluid.box
      div.span6
        h4 Notification
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

        h4 Status Page
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

      div.span6
        h4 Feed
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

        h4 Mobidle
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
