extends layout

block content
  div.introduction
    h1#main-marking-text Don't piss off your client!
    p#main-text Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  button.btn.btn-success.sign-up Sing up

