extends layout

block content
  .container
    .hero-unit
      h1 Don't piss your client off!
      .container-narrow
        p#main-text
          | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce
          | dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
          | ut fermentum massa justo zsit namet risus  amet.
    .row-fluid
      .span4.offset4.center
        if user
          a(href='/feeds').btn.btn-large.btn-success Continue to feeds
        else
          form(method='POST',action='/')
            .input-append
              input(type='email',placeholder='Your Email',name='email',required)
              button.btn.btn-success(type='submit') Sign up

  .container
    .row-fluid
      .span4
        h2
          i.icon-info-sign
          |  Public Dashboard
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      .span4
        h2
          i.icon-rss
          |  RSS
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
      .span4
        h2
          i.icon-envelope
          |  Notifications
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
