doctype 5
html(lang='en')
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a(class="brand", href="/") Statusus
          ul.nav
            li
              a(href='/pricing') Pricing
            li
              a(href='/about') About Us
            li
              a.voting
                iframe(src="http://nodeknockout.com/iframe/waterloo-napoleons",frameborder=0,scrolling='no',allowtransparency='false',width=115,height=25)
          if user
            ul.nav.pull-right
              li
                a(href='/feeds') My Feeds
              li
                a(href='/logout') Logout

    block content
