doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascript/bootstrap.js')
    script(src='/javascript/backbone.js')
  body

    header
      div.container-narrow.container
        ul.nav.nav-pills.pull-right.menu
          li.active
            a(href='/') Home
          if user
            li
              a(href='/feeds') My Feeds
            li
              a(href='/logout') Logout
          li
            a(href='/pricing') Pricing
          li
            a(href='/about') About Us

        h1#logo Statusus

    section.content
      block content

    footer
      div.footer
        p.container-narrow.container @ Statusus - All rights reserved.
