doctype 5
html(lang='en')
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='http://pixie.nko3.jitsu.com/build/build.css')

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a(class="brand", href="/") Statusus
          ul.nav
            li
              a(href='/pricing') Pricing
            li
              a(href='/about') About Us
            li
              a.voting
                iframe(src="http://nodeknockout.com/iframe/waterloo-napoleons",frameborder=0,scrolling='no',allowtransparency='false',width=115,height=25)
          if user
            ul.nav.pull-right
              li
                a(href='/feeds') My Feeds
              li
                a(href='/logout') Logout

    block content

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.timeago.js')
    script(type='text/javascript', src='http://pixie.nko3.jitsu.com/build/build.js')
    script(type='text/javascript')
      var Feedbacks = require('oivoodoo-feedbacks')
      new Feedbacks({
        label: 'Feedback',
        position: 'left', // || 'right', // position on the screen
        class: 'button1', // || 'button2' || 'button3' || 'button4', // different colors for the button
        key: '0ccad77e79933a201fba364303df30bb',
        url: 'http://pixie.nko3.jitsu.com/emails'
      })
      $(function(){
        $("time").timeago();
      })

