.container-narrow {
    margin: 0px auto;
    max-width: 854px;
    position: relative;
}

.top {
  margin-top: 40px;
  padding-bottom: 10px;
}

#logo {
  font-size: 60px;
  letter-spacing: 2px;
}

.menu {
  padding-top: 21px;
}

.row-fluid .offset4.singup{
  margin-left: 38.188034% !important;
}

#main-marking-text {
  margin-top: 20px;
  padding-top: 36px;
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  background: url("/images/perspective.png");
  height: 125px;
  color:  #282629;
  text-align: center;
}

#main-text {
  font-size: 17px;
  font-weight: 200;
  line-height: 30px;
  text-align: justify;
}

.box {
  margin-top: 50px !important;
  width: 270px !important;
}

.box-img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  float: left;
}

footer {
  background-color: black;
  height: 40px;

  p {
    padding-top: 10px;
    color: #F8F8F8;
    font-size: 12px;
  }
}

.content {
  height: 537px;
  overflow: hidden;
}

