
// layout.jade

header {
  height: 100px;
  padding-top: 40px;
}

footer {
  background-color: black;
  height: 40px;

  p {
    padding-top: 10px;
    color: #F8F8F8;
    font-size: 12px;
  }
}

.container-narrow {
    margin: 0px auto;
    max-width: 854px;
    position: relative;
}

#logo {
  background: url("/images/logo.png") no-repeat;
  text-indent: -11000px;
}

.menu {
  padding-top: 20px;
}

// index.jade

h2 {
  margin: 0px;
  padding-top: 36px;

}

.row-fluid .offset4.singup{
  margin-left: 38.188034% !important;
}

#main-marking-text {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  background: url("/images/perspective.png");
  height: 115px;
  color:  #282629;
  text-align: center;
}

#main-text {
  font-size: 17px;
  font-weight: 200;
  line-height: 30px;
  text-align: justify;
}

.box {
  margin-top: 50px !important;
  width: 270px !important;
}

.box-img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
  float: left;
}

.content {
  height: 525px;
  overflow: hidden;
}

// feed.jade
ul, li {
  list-style: none;
}

.new-feed {
  margin-top: 30px;

  label {
    margin-right: 5px;
    font-weight: bold;
    font-size: 15px;
  }

  input {
    width: 300px;
    margin: 0px;
  }

  button {
    margin-left: 5px;
    margin-bottom: 0px;
  }

  clear: both;
}

.messages {
  float: left;

  ol {
    width: 400px;
    padding: 0px;
    margin: 0px;

    li {
      padding: 2px;

      .tag {
         margin-right: 8px;
      }
    }
  }
}

.status-description {
  float: left;

  textarea {
    width: 300px;
  }
}

.status-buttons {
  float: left;

  button {
    display: block;
    margin-bottom: 7px;
  }
}

.feed {

  button {
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
  }

}

.project-status-box {
  overflow: hidden;
  margin: 0px;

  h2 {
    clear: both;
    padding: 0px;
  }

  form  {
    display: inline;
  }
}
