.container-narrow {
    margin: 0px auto;
    max-width: 700px;
    position: relative;
}

.top {
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #100000;
}

#logo {
  font-size: 60px;
  letter-spacing: 2px;
}

.menu {
  padding-top: 10px;
}

.sign-up {
  width: 160px;
  height: 55px;
  font-size: 30px;
  position: absolute;
  margin: 2px;
  margin-top: 20px;
  left: 250px;
}

#main-marking-text {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  position: relative;
}

.introduction {
  padding-top: 80px;
  text-align: center;
}

#main-text {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}
