html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}
html {
  line-height: 1
}
ol,ul {
  list-style: none
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
caption,th,td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}
q,blockquote {
  quotes: none
}
q:before, q:after,blockquote:before,blockquote:after {
  content: "";
  content: none
}
a img {
  border: none
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
  display: block
}
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot?#iefix") format("embedded-opentype"),url("/fonts/icomoon.svg#icomoon") format("svg"),url("/fonts/icomoon.woff") format("woff"),url("/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}
.icon {
  font-family: 'icomoon';
  vertical-align: middle;
  display: inline-block;
  speak: none;
  margin-top: -2px;
  font-size: 11px
}
html,body {
  height: 100%;
  color: #727272;
  font: 13px/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif
}
#header {
  margin-top: 40px;
  margin-bottom: 10px;
  overflow: hidden
}
.wrap {
  max-width: 600px;
  margin: 0 auto
}
strong {
  color: #333;
  font-weight: bold
}
a {
  color: #39c;
  text-decoration: none
}
a:hover {
  color: #036
}
p,pre,dd {
  margin-bottom: 1.5em
}
dt {
  font-weight: bold
}
code,.terminal {
  font: 12px Consolas,"Liberation Mono",Courier,monospace
}
.terminal {
  background: #333;
  color: #ddd;
  padding: 1em;
  overflow-x: auto
}
.logo {
  float: left
}
.logo img {
  width: 117px;
  height: 25px
}
.hostname {
  clear: both;
  font-family: monospace;
  display: inline-block
}
.hide_intro {
  float: right;
  font-size: 11px;
  margin-top: 2px
}
#last_updated {
  float: right;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 0 6px;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold","Helvetica Neue","Arial Narrow",Arial,sans-serif;
  font-weight: bold;
  font-size: 13px;
  font-stretch: condensed;
  color: #727272;
  -webkit-font-smoothing: antialiased
}
.difference {
  display: block;
  color: #848484
}
.graph {
  position: relative
}
h1 {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  -webkit-font-smoothing: antialiased
}
.messages-header {
  margin-bottom: 24px
}
h2,.number {
  font-family: "HelveticaNeue-CondensedBold","Helvetica Neue","Arial Narrow",Arial,sans-serif;
  font-weight: bold;
  font-stretch: condensed;
  -webkit-font-smoothing: antialiased
}
h2 {
  margin: 0 0 6px;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 15px;
  color: #999
}
h3 {
  font-size: 13px;
  color: #333;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 8px;
  padding-bottom: 8px
}
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.8);
  text-align: center;
  z-index: 99;
  display: none
}
.loader img {
  margin-top: 180px
}
.back {
  float: right;
  margin: 3px 0 0;
  font-weight: bold
}
.about {
  margin: 0 0 36px
}
.about p {
  color: #727272;
  -webkit-font-smoothing: antialiased
}
#messages {
  width: 330px;
  float: left;
  padding-right: 1em;
  margin-right: 1em
}
#services {
  margin: 0 0 36px;
  border: 1px solid #e8e8e8;
  border-radius: 3px
}
#services .service {
  padding: 8px 12px;
  overflow: hidden
}
#services .service .name {
  float: left
}
#services .service .status {
  float: right;
  font-weight: bold
}
#services .service+.service {
  border-top: 1px solid #efefef
}
#graphs {
  display: table;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  position: relative
}
#graphs .data {
  width: 1px;
  padding-right: 20px;
  white-space: nowrap
}
#graphs .loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.8);
  text-align: center;
  z-index: 99;
  display: none
}
#graphs .loader img {
  margin-top: 180px
}
#graphs .graph {
  display: table-row;
  margin: 0
}
#graphs .graph .data,#graphs .graph .graph {
  padding-bottom: 36px;
  display: table-cell;
  vertical-align: top
}
#graphs .graph-container {
  height: 80px
}
#footer {
  clear: both;
  padding: 0 0 24px;
  font-size: 13px;
  line-height: 24px;
  overflow: hidden;
  text-align: center
}
#footer ul {
  float: left
}
#footer ul li {
  display: inline-block;
  margin: 0 12px 0 0
}
#footer p {
  float: right
}
.number {
  line-height: 0.7;
  color: #333;
  font-size: 52px
}
.good {
  color: #396
}
.minor {
  color: #f29d50
}
.major {
  color: #c30
}
.indicator {
  background: #ccc;
  display: inline-block;
  vertical-align: middle
}
.indicator.good {
  background: #396
}
.indicator.minor {
  background: #f29d50
}
.indicator.major {
  background: #c30
}
.tabs {
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 36px;
  font-size: 13px;
  font-weight: bold;
  color: #999;
  -webkit-font-smoothing: antialiased
}
.tabs .tab {
  display: inline-block;
  margin: 0 0 -1px
}
.tabs .tab a {
  color: #999;
  display: block;
  padding: 8px 15px 9px
}
.tabs .tab.selected {
  color: #333;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  background: #fff
}
.tabs .tab.selected a {
  color: #333
}
#message {
  padding: 8px 15px;
  border-radius: 3px;
  margin: 0 0 0px;
  border: 1px solid #ccc;
  position: relative
}
#message.good {
  background: #eaf4ef;
  border-color: #99ccb2
}
#message.good p {
  color: #194d33
}
#message.minor {
  background: #fdf5ed;
  border-color: #f8cea7
}
#message.minor p {
  color: #cd690f
}
#message.major {
  background: #f9eae5;
  border-color: #e5997f
}
#message.major p {
  color: #661a00
}
#message .time {
  color: #333;
  font-weight: bold;
  width: auto;
  margin: 0 8px 0 0
}
#message .message {
  padding: 0;
  margin: 0
}
#status-history {
  margin: 6px 0 36px
}
#status-history .more {
  float: right;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.1
}
.pagination {
  border: 1px solid #e8e8e8;
  padding: 8px 15px;
  color: #ccc;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased
}
.pagination .next {
  float: right
}
.pagination .disabled {
  color: #ccc
}
.message {
  padding: 0 0 0 90px;
  margin: 0 0 24px
}
.message .time {
  color: #999;
  margin-left: -90px;
  width: 90px;
  float: left
}
.message .title {
  font-weight: bold
}
.message p {
  color: #727272
}
@media only screen and (max-width:  600px) {
  .wrap {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px
  }
  #last_updated {
    float: none;
    clear: both
  }
  #message .more {
    float: none;
    position: absolute;
    top: 100%;
    margin-top: 6px;
    left: 0
  }
  .tabs .tab {
    font-size: 11px
  }
  .tabs .tab a {
    padding: 6px 8px 7px
  }
  #graphs {
    display: block;
    margin-bottom: 0;
    border-bottom: 0
  }
  #graphs .graph {
    display: block;
    padding: 12px 15px 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin: 0 0 24px
  }
  #graphs .graph .data,#graphs .graph .graph {
    display: block;
    border: none;
    padding: 0;
    margin: 0 0 12px
  }
  #graphs .graph .graph {
    margin-left: -12px
  }
  #footer {
    text-align: center;
    background-position: center 24px;
    padding: 20px 0 0
  }
  #footer ul li {
    margin: 0;
    padding: 0 6px
  }
  #footer ul,#footer p,#footer a {
    float: none;
    display: block
  }
}

@media screen and (min-width:  321px) {
  #graphs {
  display: table
  }
  #graphs .graph {
    display: table-row;
    margin-bottom: 34px
  }
  #graphs .graph .data {
    display: table-cell;
    margin-right: 12px;
    margin-bottom: 34px
  }
  #graphs .graph .graph {
    margin-bottom: 34px;
    margin-left: 0
  }
}
