<div ng-controller='MainCtrl' class='ng-cloak'>

  <h2>Add Incident</h2>

  <form name="newMessage" ng-submit="createNewMessage()">
    <input type="text" ng-model="message.text" size="30" placeholder="message" required>
    <label>
      <input type="radio" ng-model="message.status" value="0"> Operational
    </label>
    <label>
      <input type="radio" ng-model="message.status" value="1"> Partial Outage
    </label>
    <label>
      <input type="radio" ng-model="message.status" value="2"> Major Outage
    </label>
    <input class='button tiny' type="submit" id="submit" value="Submit" />
  </form>

  <div ng-repeat='message in messages' ng-class='{good:message.status==0,warn:message.status==1,bad:message.status==2}'>
    <span class='message-time'>{{ message.createdAt }}</span> {{message.text}}
    <button ng-if='message.id' ng-click='deleteMessage(message)' class='button tiny alert round'>delete</button>
  </div>
</div>
