<div ng-controller='MainCtrl' class='ng-cloak'>

  <form name="newMessage" ng-submit="createNewMessage()">
    <input type="text" ng-model="message.text" size="30" placeholder="new status" required>
    <label>
      <input type="radio" ng-model="message.status" value="0"> Operational
    </label>
    <label>
      <input type="radio" ng-model="message.status" value="1"> Partial Outage
    </label>
    <label>
      <input type="radio" ng-model="message.status" value="2"> Major Outage
    </label>
    <input type="submit" id="submit" value="Submit" />
  </form>


  <ul>
    <li ng-repeat='message in messages' ng-class='{good:message.status==0,warn:message.status==1,bad:message.status==2}'>
      {{message.text}}
      <button ng-if='message.id' ng-click='deleteMessage(message)'>delete</button>
    </li>
  </ul>
</div>
